@{
    ViewBag.Title = "关于";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        即时聊天程序V1.0.0.0
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("进行聊天", "Index", "Chat")</li>
        <li>@Html.ActionLink("关于", "About", "Chat")</li>
        <li>@Html.ActionLink("联系方式", "Contact", "Chat")</li>
    </ul>
</aside>