@model IMChat.Models.Users
@{
    ViewBag.Title = "删除用户资料";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <div class="left">
        @Html.Partial("_LeftMenu")
    </div>
    <div class="right">
        <section id="loginForm">
            @{
                using (Ajax.BeginForm("SignOff", "Manager", new AjaxOptions
            {
                HttpMethod = "Post",
                OnSuccess = "success",
                Confirm = "确定要删除吗？"
            }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>删除用户</legend>
                    <input type="submit" value="删除用户资料，不可恢复" />
                </fieldset>
                }
            }
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function success(data) {
            if (data == 'true') {
                alert('注销成功');
                window.location.href = '../Chat/Default';
            } else {
                alert('失败')
            }
        }
    </script>
    <link type="text/css" href="~/Scripts/css/Layout.css" rel="stylesheet" />
}

